{% load static %}
<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Agenda de Contatos</title>

    <meta name="description" content="Agenda de Contatos">
    <meta name="author" content="Eduardo Cuducos">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'styles.css' %}" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">

      <header class="row">
        <div class="col-md-8">
          <h1>Agenda de Contatos</h1>
        </div>
        <div class="col-md-4">
          <div class="h1 pull-right">
            <button type="button" class="btn btn-default hide edit" disabled>
              <i class="glyphicon glyphicon-pencil"></i> Editar
            </button>
            <button type="button" class="btn btn-default new">
              <i class="glyphicon glyphicon-plus"></i> Novo
            </button>
          </div>
        </div>
      </header>

      <main class="row">

        <aside class="col-md-4">
          <ol class="list-unstyled"></ol>
        </aside>

        <article class="col-md-8" data-new-contact-url="{% url 'contacts-new' %}">
        </article>

      </main>
    </div>
    <script src="{% static 'app.js' %}"></script>
    {% csrf_token %}
  </body>
</html>